<div class="page-header">
  <h1>About Us</h1>
</div>
<ul class="list-group">
  <li class="list-group-item">Pinteresting was built by Adam Gillman</li>
  <li class="list-group-item">He's an entrepeneur and strategic advisor to a wide range of companies</li>
  <li class="list-group-item">The reason for building this was so that he could get a basic understanding of how to build web apps in ruby</li>
  <li class="list-group-item">He loves his family and eating</li>
  <li class="list-group-item">You can learn more about him <%= link_to "HERE", "http://www.adamgillman.com" %></li>
</ul>